
<body>
<h1 style="color:green">About Us</h1>
<p style="font-size:160%">
The land business website is a place where land buyers and sellers can meet online to sell and discuss on the purchase of land.
</p>

