     
<body>
 <h1 style="color:green">Help</h1>
<p style="font-size:160%"><b>
Welcome to the help page.

  </b> <br>
  This site enables you to post land for sale and view posts from other users.</p>

