
<body>
<h1 style="color:red;font-size:30px"><u>DISCLAIMER</u></h1>
 <p style="color:red;font-size:15px">  The land business site is only to inform you of the land being sold from different regions.You <b>should  not</b> exchange any money during the use of this site.</p>
<h1 style="font-size:30px"><b><u>STEPS TO FOLLOW WHEN BUYING LAND</u></b></h1>
<ol>
	<li><b>Search at ministry of lands</b></li>
	<p>Do a search with the ministry of lands at the county headquarters it will reveal the true land owner and if the title has a caveat(used to secure a loan).The search costs ksh 520/= </p>
	<li><b>Search at Local County Offices</b></li>
	<p> This will confirm any unpaid Land rates which you will need to factor in when deciding the purchase price.Cost would vary from county to county.If there are prevailing unpaid land rates you would need to agree with the owner who will settle them as the land cannot be sold (transferred) with outstanding rates. Hence it will affect the purchase price to that extent.  </p>
	<li><b> Land Map</b></li>
	<p> Visit the local surveyor and purchase a map of the place, they are normally two maps one drawn to scale (informally known as tracing) and another showing the neighboring farms. Cost: 300 per map you may buy these at lands ministry but surveyor is better and faster.  </p>
    <li> <b> Ground Verification</b></li>
	<p> Armed with the map, the surveyor and the seller visit the land on the ground. Have a tape measure to confirm the dimension from the map drawn to scale. Make sure you see the beacons or replace the lost ones Surveyors charge about 1000 per bacon.This should be paid by the seller as the land is still his/hers however it may be paid by either party. </p>
	<li><b> Agreement</b></li>
	<p>The law requires any land transaction to be in writing. While it is not a must a lawyer be involved it is very advisable to have a lawyer. According to the tariff provided by Law Society of Kenya the lawyer should charge 3000 if land is 1,000,000 and below 8000 if land value is above 1,000,000. Lawyers cost is normally shared 50:50 between buyer and seller. </p>
	<li> <b> Post Agreement Transaction</b></li>
	<p>After this everything now depends on the agreement. According to the agreement, you may be paying cash or by installment. Either way the seller will demand some money. Ensure by the time you make the initial payment the title deed and other legal documents are in the custody of the lawyers. </p>
	<li><b> Land Control Board</b></li>
	<p>Book the Land Control Board (LCB). The LCB Is a forum made of the D.O ad the local village elders and meets once a month. They are the ones who give the final consent for the land to be sold. Their role is to protect the seller from self destruction e.g. where a man is selling land without wife knowledge and they don’t have anywhere to go or the land being sold is clan / community land.  </p>
	<li><b> Land Transfer</b></li>
	<p>After all payments, seller signs Land Transfer Forms which together with Consent from LCB, land search – not more than 6 months old(see step 1) clearance from county/ municipal council (that you have paid all land rates), passport photos, KRA pin, agreement and old title deed you go to Ministry of Lands to change ownership. Cost 5,000/= to process new title. </p>
	<li><b>  Stamp Duty and Transfer Fees</b></li>
	<p>After you have all the transfer documents as stated in Step 8 you need the seller no more. However you will also need to pay stamp duty based on value of land i.e 4% for Municipalities 2% for reserve. i.e if your land is in the municipality and you bought at 1,000,000 you pay stamp duty of 40,000.</p>
	<li><b> Post Purchase Activity</b></li>
	<p>After one week the buyer should do another search with Ministry of Lands to confirm that the land now reads your details.</p>
	<p style="color:red">
	The rates indicated may change from time to time depending with relevant offices.</p>
	
	

</ol>